In [1]:
%matplotlib inline

In [55]:
import json
import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
from pandas.io.json import json_normalize

In [58]:
def CustomParser(data):
    return json.loads(data)

# Read csv file
filename = '../source/result.csv'
df = pd.read_csv(filename, sep=';', converters={'db_parameters':CustomParser, 'model_cfg': CustomParser})
df[sorted(df['db_parameters'][0].keys())] = df['db_parameters'].apply(pd.Series)
df[sorted(df['model_cfg'][0].keys())] = df['model_cfg'].apply(pd.Series)

In [59]:
# Show best result of each model for each babi task
ddf = df[df['db'] == 'babi']
ddf = ddf.groupby(['f1','db','model', 'task'])
ddf = ddf['acc']
ddf = ddf.max()
ddf = ddf.reset_index()
ddf = ddf.sort_values(['model','task'])
ddf[['model','acc','task']].pivot('task', 'model')

            acc
model EmbedLSTM SimpleLSTM
task
1         0.514      0.172
2         0.187      0.172
3           NaN      0.136
4           NaN      0.287
5           NaN      0.254
6           NaN      0.492
7           NaN      0.645
8           NaN      0.414
9           NaN      0.633
10          NaN      0.431
11          NaN      0.171
12          NaN      0.191
13          NaN      0.181
14          NaN      0.176
15          NaN      0.249
16          NaN      0.259
17          NaN      0.620
18          NaN      0.539
19          NaN      0.066
20          NaN      0.371

In [52]:
ddf[['model','f1','task']].pivot('task', 'model')

             f1
model EmbedLSTM SimpleLSTM
task
1      0.045232   0.133952
2      0.045977   0.099366
3           NaN   0.063670
4           NaN   0.047701
5           NaN   0.076933
6           NaN   0.456131
7           NaN   0.283085
8           NaN   0.057061
9           NaN   0.389499
10          NaN   0.326066
11          NaN   0.171617
12          NaN   0.065841
13          NaN   0.096385
14          NaN   0.119041
15          NaN   0.096449
16          NaN   0.121467
17          NaN   0.342105
18          NaN   0.376234
19          NaN   0.013069
20          NaN   0.201574