In [2]:
%matplotlib inline

In [1]:
import json
import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
from pandas.io.json import json_normalize

In [7]:
def CustomParser(data):
    return json.loads(data)

# Read csv file
filename = 'result.csv'
df = pd.read_csv(filename, sep=';', converters={'db_parameters':CustomParser, 'model_cfg': CustomParser})
df[sorted(df['db_parameters'][0].keys())] = df['db_parameters'].apply(pd.Series)
df[sorted(df['model_cfg'][0].keys())] = df['model_cfg'].apply(pd.Series)

In [21]:
# Show best result of each model for each babi task
ddf = df[df['db'] == 'babi']
ddf = ddf.groupby(['db','model','task'])
ddf = ddf.max()
ddf = ddf.reset_index()
ddf[['model','acc','task']].pivot('task', 'model')

            acc
model EmbedLSTM SimpleLSTM
task
1         0.711      0.189
2           NaN      0.189
3           NaN      0.174
4           NaN      0.279
5           NaN      0.344
6           NaN      0.636
7           NaN      0.693
8           NaN      0.539
9           NaN      0.655
10          NaN      0.538
11          NaN      0.220
12          NaN      0.187
13          NaN      0.185
14          NaN      0.205
15          NaN      0.266
16          NaN      0.281
17          NaN      0.612
18          NaN      0.709
19          NaN      0.094
20          NaN      0.699

In [22]:
ddf[['model','f1','task']].pivot('task', 'model')

             f1
model EmbedLSTM SimpleLSTM
task
1      0.710546   0.155791
2           NaN   0.189162
3           NaN   0.171394
4           NaN   0.244128
5           NaN   0.357841
6           NaN   0.635999
7           NaN   0.355616
8           NaN   0.182542
9           NaN   0.591041
10          NaN   0.476483
11          NaN   0.187951
12          NaN   0.125962
13          NaN   0.125260
14          NaN   0.200661
15          NaN   0.227091
16          NaN   0.229979
17          NaN   0.595833
18          NaN   0.706350
19          NaN   0.056598
20          NaN   0.660970